.title {
  text-align: center;
  padding-top: 2rem;
}

.titleDescription {
  padding-top: 1rem;
}

.scrollContainer {
  justify-content: start;
  margin-top: 1rem;
  padding: 1rem;
}

.frontImg {
  margin-right: 2rem;
}

.video {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .pAbout {
    font-size: 10rem;
  }
  .video {
    width: 100%;
  }
}
