.title {
  text-align: center;
  padding: 2rem;
}

.titleDescription {
  padding: 1rem;
}

.scrollContainer {
  justify-content: start;
  margin-top: 1rem;
  padding: 1rem;
}

.contentContainer {
  display: flex;
}

.aboutP {
  display: grid;
}

.frontImg {
  margin-right: 2rem;
}

p {
  font-size: 2vw;
}

video {
  width: 60rem;
}

@media screen and (min-width: 390) {
  p {
    font-size: 7vw;
  }
  video {
    width: 30%;
  }
}

@media screen and (min-height: 844) {
  p {
    font-size: 7vw;
  }
  video {
    width: 30%;
  }
}
