.locationText {
  position: absolute;
  top: 6%;
  padding-top: 1rem;
  width: fit-content;
  font-size: x-large;
  display: block;
  text-align: center;
  z-index: 2;
  color: white;
}

.locationIcon {
  padding-left: 0.2rem;
}

.orderNow {
  position: absolute;
  font-size: 2rem;
  z-index: 2;
  top: 20%;
  color: white;
  border-top: 2px solid#b48303;
  border-bottom: 2px solid#b48303;
}

.orderBottomCorner {
  position: absolute;
  z-index: 2;
  bottom: 4%;
  right: 2%;
  color: white;
}

.carouselContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carouselHeading {
  position: absolute;
  top: 50%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.pLength {
  position: absolute;
  top: 65%;
  color: #b48303;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.icon {
  background: url(https://migasflorida.com/wp-content/themes/themify-ultra/skins/restaurant/images/fork-knife.svg)
    no-repeat 50%;
  content: "";
  display: block;
  height: 24px;
  margin: 0 2px;
  width: 24px;
}

.subtitle {
  position: absolute;
  top: 40%;
  /* transform: translate(-50%, -50%) !important; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: #b48303;
}

.sliderContainer {
  width: 100%;
  height: auto;
}

.sliderContainer img {
  object-fit: cover;
  object-position: center -50%;
}

.sliderContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.slide {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .carouselContainer {
  }

  .subtitle,
  .pLength,
  .carouselHeading {
    font-size: 1rem;
  }
  .locationText {
    top: 2%;
    z-index: 3;
    font-size: 0.5rem;
  }
  .icon {
    background: url(https://migasflorida.com/wp-content/themes/themify-ultra/skins/restaurant/images/fork-knife.svg)
      no-repeat 20%;
    content: "";
    display: block;
    height: 10px;
    margin: 0 4px;
    width: 22px;
  }
  .orderNow {
    font-size: 0.8rem;
    z-index: 1;
    top: 25%;
  }

  .orderBottomCorner {
    font-size: 0.5rem;
    width: 30%;
    z-index: 1;
  }
}
