/* @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kanit:wght@300&family=Poppins:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=El+Messiri&family=Kanit:wght@300&family=Poppins:wght@300&display=swap");

body {
  color: black;
  font-family: "El Messiri", sans-serif;
}

.App {
  background-image: url("../assets/bkground.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.link {
  text-decoration: none;
}
