.fixedButton {
  position: fixed;
  top: 20%;
  right: 50%;
}

.sides-container {
  left: 0%;
  width: 30%;
}

.closeButton {
  position: absolute;
  width: 10%;
  top: 2%;
  right: 3%;
  z-index: 1;
  cursor: pointer;
}

.sides-image {
  width: 20%;
}

.menuImagesContainer {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .sides-container {
    width: 30%;
  }

  .closeButton {
    width: 10px;
  }
  .heightSetting {
    min-height: 100vh;
  }
}
