.fixedButton {
  position: fixed;
  width: 15%;
  bottom: 15%;
  right: 10%;
}

.sidesButton {
  position: fixed;
  width: 5%;
  bottom: 15%;
  right: 10%;
}

.sides-container {
  left: 0%;
  width: 100%;
}

.closeButton {
  position: absolute;
  width: 10%;
  top: 2%;
  right: 3%;
  z-index: 1;
  cursor: pointer;
}

.sides-image {
  width: 100%;
}

.menuImagesContainer {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .sides-container {
    width: 100%;
  }

  .sidesButton {
    width: 15%;
  }

  .fixedButton {
    width: 30%;
  }

  .sides-image {
    width: 100%;
  }

  .closeButton {
    width: 10%;
  }
  .heightSetting {
    min-height: 100vh;
  }
}
