.navbarLogo {
  width: 18%;
}

.logo-home {
  padding-left: 20%;
  width: 60%;
  height: 50%;
}

.navbarContainer {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: auto;
}

.navbar-collapse {
  align-items: end;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}

.navBar {
  height: 100%;
}

.nav-link:hover {
  height: auto;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #b38203;
}

.nav-link p:hover {
  color: #b38203;
}

@media screen and (max-width: 768px) {
  .navbarContainer {
    position: fixed;
    height: 1%;
    width: 100%;
    z-index: 3;
  }
  .navBar {
    height: 7%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 97%;
  }

  .nav-items {
    text-align: center;
  }
  .nav-link {
    background-color: rgba(0, 0, 0, 1);
    color: white;
  }
}
