.logo-home {
  padding-left: 10%;
  width: 20%;
  height: auto;
}

.navbarContainer {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: auto;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  padding: none;
}

.container-fluid {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}

.nav-link:hover {
  height: auto;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #b38203;
}

.nav-link p:hover {
  color: #b38203;
}
