.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.fixedImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.bordersBottom {
  border-bottom: 2px solid #b48303;
  border-radius: 10px;
}

.itemDescription p {
  font-size: 1rem; /* Default font size */
}

@media screen and (max-width: 768px) {
  .fixedImage {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .carousel-caption {
    padding: 0;
  }
  .carousel-indicators {
    width: 50%;
    margin: auto;
  }

  h2.w-100,
  h2.w-50 {
    font-size: 1rem;
  }

  .textCarousel {
    display: none;
  }
}
