.borderBottom {
  border-bottom: 5px solid #b48303;
  border-radius: 10px;
}

.slider {
  position: relative;
  margin-top: 3rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slides {
  opacity: 0;
  transition-duration: 1s ease;
}

.slideActive {
  text-align: center;
  opacity: 1;
  transition-duration: 1s;
}

/* .imageOverlay {
  position: absolute;
  top: 6.2%;
  left: 0;
  width: 100%;
  height: 77%;
  background-color: rgba(0, 0, 0, 0.4);
}

.imageOverlayVideo {
  position: absolute;
  top: 6.7%;
  left: 25%;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.4);
} */

@media screen and (max-width: 768px) {
  .slider {
    margin-top: 0;
    width: 100%;
    overflow: hidden;
    height: 40vh;
  }

  .image {
    width: 55%;
    height: auto;
  }

  .right-arrow {
    font-size: 1.5rem;
    top: 44%;
    right: 32px;
  }
  .left-arrow {
    top: 44%;
    left: 32px;
    font-size: 1.5rem;
  }
}
